Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias
name as <WORKER_NAME>;.

Ans-> select first_name
      from worker;

Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

Ans-> select distinct department
        from worker;